/*head*/



html, body {
    margin: 0;
    padding: 0;
}

.page-container{
    max-width: 1900px;
    margin: 0 auto;
}

/*header*/
header {
    display: block;
    background-color: #6a0297;
    padding: 30px 0;
    border-bottom: 2px solid #ccc;
    max-width: 2000px;
}
.page-title {
    display: block;
    color: white;
    text-align: left;
    font-size: 2.5em;
    position: absolute;
    left: 20px;
    top: 10px;
}


nav ul {
    list-style: none;   
    margin: 0;          
    padding: 0;         
    display: flex;
    justify-content: right;      
    gap: 1rem; 
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 13px 20px;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;

}
nav ul li a:hover {
    background-color: #f8f7f8;
    color: #440163;
}


.nav-menu ul {
  display: none;
}
#nav-menu.open ul {
  display: block;
}

/* Show hamburger only on small screens */
@media (max-width: 768px) {
  #hamburger {
    display: block;
  }
}




/*main*/

.sub-title {
    text-align: center;
    font-size: 1.5em;
    margin: 20px 0;
    font-family: 'Unbounded', cursive;
}
.picture {
    background-color: rgb(255, 255, 255);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px 250px;
    gap: 1rem;
    padding: 1rem;
    text-align: center;
}

.grid-container div {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/*footer*/
footer {
    background-color: #440163;
    color: white;
    text-align: center;
    padding: 10px 0;
    border-top: 2px solid #ccc;
    position: relative;
    bottom: 0;
    top: 0%;
    width: 100%;
    max-width: 2000px;
}